<div class="card">
    <div class="card-header clearfix">
        <h3 class="card-title">{{title}}</h3>
        <div class="card-date text-muted">
            {{postedDate}}
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
    <div class="card-footer clearfix">
        <button type="button" class="btn btn-primary" data-edit={{id}}>Edit</button>
        <button type="button" class="btn btn-primary" data-delete={{id}}>Delete</button>
    </div>
</div>